Battleships_Client/Service References/BShipService/BattleShips.imp.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BattleShips.imp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BattleShips.imp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfChatMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChatMessage" nillable="true" type="tns:ChatMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChatMessage" nillable="true" type="tns:ArrayOfChatMessage" />
  <xs:complexType name="ChatMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sequenceId" type="xs:int" />
      <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChatMessage" nillable="true" type="tns:ChatMessage" />
  <xs:complexType name="ShipInstance">
    <xs:sequence>
      <xs:element minOccurs="0" name="pos" nillable="true" type="tns:Position" />
      <xs:element minOccurs="0" name="rotation" type="tns:Rotation" />
      <xs:element minOccurs="0" name="shipId" type="xs:int" />
      <xs:element minOccurs="0" name="sunken" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShipInstance" nillable="true" type="tns:ShipInstance" />
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
  <xs:simpleType name="Rotation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RIGHT" />
      <xs:enumeration value="DOWN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Rotation" nillable="true" type="tns:Rotation" />
  <xs:simpleType name="ShotType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNFIRED" />
      <xs:enumeration value="MISS" />
      <xs:enumeration value="HIT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ShotType" nillable="true" type="tns:ShotType" />
  <xs:complexType name="ArrayOfShotType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShotType" type="tns:ShotType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShotType" nillable="true" type="tns:ArrayOfShotType" />
  <xs:complexType name="ArrayOfShip">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ship" nillable="true" type="tns:Ship" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShip" nillable="true" type="tns:ArrayOfShip" />
  <xs:complexType name="Ship">
    <xs:sequence>
      <xs:element minOccurs="0" name="length" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ship" nillable="true" type="tns:Ship" />
</xs:schema>